<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="compose.css">
    <title>compose</title>
</head>
<body>
    <form action="/compose" method="post">
        <div class="compose-cover">
            <div class="title">
                <h3>title</h3>
                <input type="text" class="input-btn" name="title">
            </div>
           
            <div class="content">
                <h3>content</h3>
                <textarea name="message" id="" cols="30" rows="10" class="compose-textarea"></textarea>
            </div>
            <input type="submit" class="btn" name="submit">
        </div>
     
    </form>
</body>
</html>